{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "rules": {
      "no-var": "warn",
      "no-multiple-empty-lines": "warn",
      "no-nested-ternary": "warn",
      "no-console": "warn",
      "eqeqeq": "warn",
      "dot-notation": "warn",
      "no-unused-vars": "warn",
      "react/destructuring-assignment": "warn",
      "react/jsx-pascal-case": "warn",
      "react/no-direct-mutation-state": "warn",
      "react/jsx-no-useless-fragment": "warn",
      "react/no-unused-state": "warn",
      "react/jsx-key": "warn",
      "react/self-closing-comp": "warn",
      "react/jsx-curly-brace-presence": "warn",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
    }
  }
  

  // 코드 스타일 및 품질 검사 도구인 ESLint의 설정 파일
  // 주로 JavaScript 또는 TypeScript 코드의 품질을 향상시키고 일관된 코딩 스타일을 적용하기 위해 사용